<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.narratives">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/narratives_limpio"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.Narratives">
        <activity
            android:name="com.example.narratives.activities.pre_session.HomeSinRegistroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.narratives.es"
                    android:pathPrefix="/club"
                    android:scheme="https" />
                <data
                    android:host="www.narratives.es"
                    android:pathPrefix="/coleccion"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.main.MainActivity"></activity>
        <activity android:name=".activities.pre_session.LoginActivity"></activity>
        <activity android:name=".activities.pre_session.RegistroActivity"></activity>
        <activity android:name=".activities.info.CambioContrasenaActivity"></activity>
        <activity android:name=".activities.info.CambioFotoPerfilActivity"></activity>
        <activity android:name=".activities.clubes.CrearClubActivity"></activity>
        <activity android:name=".activities.clubes.BuscarClubActivity"></activity>
        <activity android:name=".activities.clubes.InfoClubActivity"></activity>
        <activity android:name=".activities.clubes.ChatClubActivity"></activity>
        <activity android:name=".activities.marcapaginas.CrearMarcapaginasActivity"></activity>
        <activity android:name=".activities.marcapaginas.EditMarcapaginasActivity"></activity>
        <activity android:name=".activities.info.InfoAutorActivity"/>
        <activity android:name=".activities.info.InfoLibroActivity"></activity>
        <activity android:name=".activities.info.InfoAmigoActivity"></activity>
        <activity android:name=".activities.amigos.AnadirAmigoActivity"></activity>
        <activity android:name=".activities.amigos.SolicitudesEnviadasActivity"></activity>
        <activity android:name=".activities.amigos.SolicitudesRecibidasActivity"></activity>
        <activity android:name=".activities.amigos.SolicitudesHistorialActivity"></activity>
        <activity android:name=".activities.colecciones.ColeccionesActivity"></activity>
        <activity android:name=".activities.resenas.ResenasActivity"></activity>
       


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>